@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #02020a;
  --background: #f1f2eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f1f2eb;
    --background: #02020a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
