@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

.Error {
  @apply -top-8 w-[400px] text-center;
  animation:
    fade-in-top 5s cubic-bezier(0.39, 0.575, 0.565, 1) both,
    fade-out 0.6s ease-out 2s both;
}

@media (max-width: 768px) {
  .Error {
    @apply -top-16 left-0 right-0 w-[100%] px-3 text-center;
  }
}
