@keyframes fade-in-top {
  0% {
    transform: translate(-50%, -50px);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

.Error {
  animation:
    fade-in-top 5s cubic-bezier(0.39, 0.575, 0.565, 1) both,
    fade-out 0.6s ease-out 3s both;
}

@media (max-width: 768px) {
  .Error {
  }
}
